.room-list {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 100vh;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.room-list__title {
  width: 150px;
  height: 37px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.38);
  margin: 23px 58px;
}

.room_list-items{
  width: 100%;
  height: calc(100% - 191px);
  overflow-y: auto;
  overflow-x: hidden;
}

.room-list__item {
  cursor: pointer;
  width: 300px;
  height: 60px;
  margin-left: 10px;
  margin-top: 19px;
  border-bottom: 6px solid #E5E5E5;
  border-radius: 0px 0px 4px 4px;
}

.room-list__item-avatar {
  display: flex;
  align-items:center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  width: 48px;
  height: 48px;
  margin-bottom: 6px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.room-list__item-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
  display: block;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.room-list__item-content{
  display: flex;
  align-items: center;
  gap: 21px;
}

.room-list__item:hover .room-list__item-title {
  color: rgb(0, 0, 0);
}

.room-list__item:hover .room-list__item-avatar {
  background-color: rgba(21, 200, 255, 0.75);
  color: #fff;
}

.room-list__item:hover {
  border-bottom: 6px solid #15C7FF;
}

.room-list__create{
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(21, 200, 255, 0.75);
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  bottom: 70px;
  right: 15px;
  color: #15c8ff;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}

.room-list__create:hover {
  color: #fff;
  background-color: #15c8ff;
  box-shadow: 0px 0px 10px rgba(0, 95, 124, .75);
}

.room-settings{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
}

.room-settings__item{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #15c8ff;
  cursor: pointer;
}

svg{
  fill: #f9f9f9;
}

.room-settings__item:hover{
  background-color: #005f7c
}

.user-view{
  width: 100%;
  position: absolute;
  bottom: 48px;
  height: 60px;
  background-color: rgba(21, 200, 255, 0.75);
  border-top-right-radius: 50%;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  padding-left: 15px;
  flex-direction: row;
}

.user-avatar{
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-color: #005f7c;
}

.user-name{
  color: #005f7c;
  font-size: 14px;
  font-weight: bold;
}
